@import "../../../variables.scss";

.cp-AccountSection {
  position: relative;
  background: inherit;
  height: 6rem;
  transition: height 300ms ease 0s;
  overflow: hidden;

  &:hover .cp-AccountSection-heading {
    background-color: $neutral-color-darker;
  }

  .cp-AccountSection-heading {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 3rem;
    cursor: pointer;
    background-color: inherit;
    transition: background-color 250ms;

    .account-header {
      padding: 0px 1rem;
      width: calc(100% - 3rem);
      overflow: hidden;
    }

    .panelButton {
      position: absolute;
      right: 0px;
      background: inherit;
      width: 3rem;
      height: 3rem;

      .Icon {
        margin: 1rem;
      }
    }
  }

  .focusArea {
    position: absolute;
    width: 100%;
    height: 6rem;
    z-index: 100;
    cursor: pointer;
  }
  .shade {
    position: sticky;
    height: 0.375rem;
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,.2),rgba(0,0,0,0));
    bottom: 0;
  }
}
.cp-AccountSection.expanded {
  height: 15rem;
}

.account-selected .cp-AccountItem {
  border-top: 1px dashed $neutral-color-darker-alt;
  border-bottom: 1px dashed $neutral-color-darker-alt;
  transition: background-color 300ms ease 0s;
}

.cp-AccountSection:hover .account-selected .cp-AccountItem {
  background-color: $neutral-color-lighter-alt;
}


.account-selected {
  background-color: $white;
  z-index: 100;
}
.account-selected .slideDown {
  background-color: $neutral-color-lighter;
}

/* Edit this in Angular */

// .accounts-container .slideDown, 
// .account-selected {
//   .cp-AccountItem {
//     display: flex;
//     flex-wrap: nowrap;
//     height: 3rem;
//   }
//   .cp-AccountItem-persona {
//     width: 3rem;
//     height: 3rem;
//   }

//   .cp-AccountItem-label {
//     font-weight: 600;
//     display: flex;
//     align-items: center;
//   }
//   .cp-AccountItem-label span {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     padding-right: 0.25rem;
//   }
// }


.accounts-container {
  .listBox {
    display: flex;
    flex-wrap: wrap;
    max-width: 20rem;
    height: calc(100vh - 10rem);
    max-height: 20rem;
    //margin: 0 0 0 1rem;
    padding: 0.5rem;
    overflow: auto;
    align-content: flex-start;

    .listBox-item {
      margin: 0.25rem;
      flex: 1 1 25%;
      align-self: flex-start;
    }
    // .listBox-item .cp-AccountItem {
    //   position: absolute;
    // }
    .cp-AccountItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 5.5rem;
      padding: 0.25rem;
    }
    .cp-AccountItem:hover {
      background-color: $neutral-color-darker;
    }
    .cp-AccountItem.is-active {
      background-color: $white;
      box-shadow: 0 0.5rem 1rem  0 rgba(0,0,0,0.25);
      border-radius: 0.125rem;
      color: $black;
    }
    .cp-AccountItem.is-active:hover {
      background-color: $neutral-color-lighter;
    }
    .cp-AccountItem-persona {
      width: 3rem;
      height: 3rem;
      margin: 0 auto;
    }

    .cp-AccountItem-label {
      font-weight: 400;
      font-weight: 0.625rem;
      display: flex;
      justify-content: center;
    }

    .cp-AccountItem-label span {
      white-space: wrap;
      text-align: center;
    }
  }

  .cp-AccountItem {
    max-width: 100%;
    cursor: pointer;
  }
  background-color: $neutral-color;
  position: relative;
}
.accounts-container.slider {
  overflow-y: auto; 
  max-height: calc(100% - 6rem);
}
.accounts-container.popup {
  background-color: $neutral-color;
  border-radius: 0.125rem;
}





.accounts-container .cp-AccountItem:hover {
  background-color: $neutral-color-darker;
}
.cp-AccountItem-label {
  overflow: hidden;
}
.cp-AccountItem-persona .icon-container {
  //background-color:#038387;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.125rem;
  color: $white;
}
.cp-AccountItem-persona .Icon {
  padding: 0.5rem;
  fill: currentColor;
}
.cp-AccountItem-persona .Initials {
  font-weight: 400;
  font-size: 0.75rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



.cp-AccountSection-MessageBar {
  display: flex;
  flex-wrap: nowrap;
  background-color: $message-noclient-background;
  .MessageBar-container {
    width: 3rem; 
    height: 3rem; 
    padding: 1rem;
  }
}

.MessageBar-label {
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}











