@import 'variables.scss';

.cp-Navigation {
  z-index: 4000;
}
.cp-Navigation.overflowed {
  min-width: 3rem;
}
.menu-sidebar {
  width: 15rem;
  height: calc(100vh - 3rem);
  transition: width 150ms ease;
  overflow-x: hidden;
}
.menu-sidebar.noscrollable {
  overflow-y: hidden;
}
.cp-Navigation.overflowed .menu-sidebar {
  position: absolute;
  width: 15rem;
  box-shadow: $elevation-4dp;
}
.cp-Navigation.overflowed .menu-sidebar.collapsed {
  width: 3rem;
}


.menu-sidebar.collapsed,
.menu-sidebar.collapsed .menu-items 
{
  width: 3rem;
}
.menu-Button {
  overflow: hidden;
}

.menu-sidebar--mobile {
  width: 3rem;
}
.menu-items {
  margin-top: 1rem;
}

// .menu-sidebar--mobile.collapsed {
// }
// @media screen and (max-width: 860px) {
//   .menu-sidebar {
//     width: 3rem;
//     min-width: 3rem;
//   }
// }

#hamburger.menu-Button {
  height: 3rem;
  min-width: 46px;
  width: 3rem;
  padding: 0.5rem 0.875rem;
  outline: 0;
}
.menu-Button .Icon svg {
  width: 1rem;
}
// box-shadow: 0 1px 3px rgba(0,0,0,0.15);