@import "../../../variables.scss";

header {
  background-color: $primary-color;
  z-index: 100;
}

.header-content {
  height: 3rem;
  display: flex;
  flex-wrap: nowrap;
}

// TO-DO @media RWD
.client-logo, .default-logo {
  display: flex;
  height: 100%;
  max-width: 16rem;
  color: $white;
  background-color: $text-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.default-logo {
  .cp-logo-icon {
    margin: 1rem;
    fill: currentColor;
  }
}
.client-logo {
  padding: 0 1rem;
  line-height: 3rem;
}


.middle {
  color: $white;
  display: inline-flex;
  padding: 0 1rem;
}

.header-actions {
  display: inline-flex;
  justify-content: flex-end;
  flex: 1 1 0;
}
.header-actions ul {
  display: flex;
}

// .header-actions li {
//   border-left: solid 1px $primary-color-darker
// }

.product-name {
  padding: 0 1rem;
  color: $white;
  font-size: 1rem;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 3rem;
}

.header-Button .Icon {
  color: $white;
}
.header-Button--icon {
  display: flex;
  line-height: 0;
}
.header-Button--icon .Icon svg {
  height: 1.25rem;
  width: 1.25rem;
}
.persona .Icon {
  height: 1rem;
  width: 1rem;
}