@import "variables.scss";

$table-row-paddings: 0;
$table-cell-paddings: 0 0.5rem;
$table-border: $gray-30;

/*
   General Styles
*/

.cp-Table {
  font-size: 0.75rem;
  .Icon {
    fill: $gray-70;
  }
}
.cp-Table-Head,
.cp-Table-Body {
  overflow: hidden;
}

/*
   Table Header
*/


.cp-Table-Head {
  position: sticky;
  top: 3.5rem;
  background-color: $white;
  border-bottom: 1px solid $table-border;
  z-index: 1000;
  .cp-Table-Head-row {
    display: flex;
    align-items: center;
    height: 2.75rem;
    padding: $table-row-paddings;
    .iconColumn.is-empty {
      width: 2rem;
    }
    &.TileItem {
      .iconColumn.is-empty {
        width: 3rem;
      }
    }
  }
  .Icon {
    fill: $gray-60;
  }

}
.HeaderTitle {
  flex-grow: 1;
  font-size: 0.875rem;
}

/*
   Table Body
*/

.DetailList .cp-Table-Row {
  height: 2.75rem;
}
.List .cp-Table-Row {
  height: 3.75rem;
}
.cp-Table-Row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $table-border;
  padding: $table-row-paddings;
  &:last-child {
    border-bottom: none;
  }
  &.TileItem {
    min-height: 7rem;
    .Icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    .TileField {
      display: flex;
      //flex-wrap: wrap;
      flex-flow: row wrap;
      padding: 0.5rem 0;
      flex-grow: 1;

    }
    .main-action {
      //position: absolute;
      top: 0;
      right: 0;
      //display: none;
      height: 100%;
    }
  }
  .TitleColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.cp-Table-Row.listItem {
  cursor: pointer;
  &:active {
    background-color: $gray-30;
  }
}

.cp-Table-Row:hover,
.cp-Table-Head .cp-Table-Cell:hover {
  background-color: $neutral-color;
}

.cp-Table-Row.is-selected {
  background-color: $table-border;
}
.HeaderTitle {
  padding: $table-cell-paddings;
}

.cp-Table-Row .cp-Table-Cell[data-table-type="itemName"] {
  font-weight: 400;
}



.cp-Table-Row {
  .action-Button {
    height: 100%;
  }
  &:hover {
    .main-action {
      display: block;
    }
  }
}

// DetailList styles

.DetailList .cp-Table-Row .cp-Table-Cell:first-child:active {
  color: $secondary-color-darker-alt;
}
.DetailList .cp-Table-Row .cp-Table-Cell:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cp-Table-Cell {
  display: flex;
  min-width: 5rem;
  flex: 1 1 20%;
  white-space: nowrap;
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  align-items: center;
  padding: $table-cell-paddings;
  position: relative;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //width: 100%;
  }
  .main-action {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    height: 100%;
  }
}




.row-icon {
  //margin: 0 1rem 0 0;
  display: flex;
  justify-content: center;
  padding: $table-cell-paddings;
}
.TileItem .row-icon {
  //width: 3rem;
  min-width: 3rem;
}

.row-link {
  background: none;
  outline: none;
  padding: 0;
  font-family: $font-stack;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.item-title,
.row-link {
  font-size: 0.875rem;
  font-weight: 400;
}

.item-title:hover {
  color: $primary-color;
}
.cp-Table-Row.is-selected {
  .row-link {
    font-weight: 600;
  }
  .main-action {
    display: block;
  }
}



/*

   Table Columns

   RWD Parameters

*/

// Title Column 
// Row -> Tittle Column Cell padding when ActionButton is shown
.cp-Table-Row:hover,
.cp-Table-Row.is-selected {
  .TitleColumn > span {
    padding-right: 2.5rem;
  }
}


// Column settings
.cp-Table-Cell {
  &[data-table-type="title"] {
    flex: 1 1 16rem;
    min-width: 12rem;
  }
  &[data-table-type="caseName"] {
    //min-width: 16rem;
    flex: 1 1 16rem;
  }
  &[data-table-type="grossValue"] {
    text-align: right;
    flex: 1 1 10%;
  }
  &[data-table-type="currency"] {
    text-align: left;
    flex: 1 1 10%;
  }
  &[data-table-type="date"] {
    flex: 1 0 6rem;
    //min-width: 3rem;
  }
  &[data-table-type="identityNo"] {
    flex: 1 1 3rem;
  }
  &[data-table-type="caseId"] {
    flex: 1 1 3rem;
  }
  &[data-table-type="caseName"] {
    flex: 1 1 16rem;
  }
}

.TileItem .cp-Table-Cell {
  &[data-table-type="title"] {
    flex: 1 1 100%;
    min-width: 100%;
    padding-right: 2.5rem;
    margin-right: auto;
    // min-width: 8rem;
  }
  &[data-table-type="caseName"] {
    min-width: 100%;
    flex: 1 1 16rem;
  }
  &[data-table-type="grossValue"] {
    text-align: right;
    flex: 0 0 50%;
  }
  &[data-table-type="currency"] {
    text-align: left;
    flex: 0 0 50%;
  }
  &[data-table-type="date"] {
    flex: 1 0 6rem;
    //min-width: 3rem;
  }
  &[data-table-type="identityNo"] {
    flex: 1 1 3rem;
  }
  &[data-table-type="caseId"] {
    flex: 1 1 3rem;
  }
  &[data-table-type="caseName"] {
    flex: 1 1 16rem;
  }
}
// In the future, wrap text more on hover and show main action
/*
.cp-Table-Row:hover .cp-Table-Cell[data-table-type="title"] {
  padding-right: 2.5rem;
}
*/

.relations {
  display: flex;
  margin: 0.25rem 0;
  justify-content: flex-start;
  span {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 1rem;
    align-self: flex-start;
    &::after {
      content: "";
      position: absolute;
      bottom: 0.125rem;
      right: 0;
      width: 100%;
      border-bottom: thin solid transparent;
    }
    &:hover {
      color: $primary-color;
      &::after {
        border-color: currentColor;
      }
      
    }
  }

  .Icon.relIcon {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.5rem;
    fill: currentColor;
  }
}