.cp-InfoPane {
  font-weight: 400;
  min-height: 2.5rem;
  margin: 1rem 0 1rem 0; // TODO margin-left to change globally into View
}
.cp-InfoPane-infoData-title {
  font-size: 0.75rem;
  color: #696969;
}
.cp-InfoPane-infoData dd {
  margin: 0 0 0.5rem 0;
}

.cp-InfoPane-infoData-desc {
  font-size: 0.875rem;
  padding: 0.5rem 0;
}