@import "variables.scss";

.Filter {
  font-size: 0.875rem;
  display: flex;
  flex-wrap: nowrap;
  color: $primary-color;
  padding: 0.25rem 0.5rem;
  margin: 0 0.5rem 0 auto;
  cursor: pointer;
  .Icon {
    fill: currentColor;
    width: 0.75rem;
    height: 0.75rem;
  }
  &:hover {
    background-color: $gray-20;
  }
}

.Filter-Title {
  font-weight: 400;
  margin-right: 0.5rem;
  text-align: right;
}