@import "../../../variables.scss";

.cp-CommandBar {
  .primary-actions {
    display: flex;
  }
  .secondary-actions {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0;
  }
}