@import "variables.scss";

// DASHBOARD OLD


.header-container .cp-Persona {
  margin-right: 1rem;
}

.dashboard-greeting-container {
  color: $primary-color;
  margin-bottom: 2rem;
  h2 {
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.selected-client-container {
  display: flex;
}
.selected-client-item {
  .cp-Persona {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5%;
    color: $white;
    background-color: $persona-green;
    .Initials span {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  .selected-client-name {
    margin-top: 0.5rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.25rem;
  width: 5rem;
  padding: 0.25rem;
}



.user-actions-section {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: -0.75rem;
  }

  .selection-container {
    display: flex;
    margin: 2rem 0;
    flex-wrap: nowrap;
    .cp-Tile {
      margin: 0.75rem;
    }
  }
}


.selected-client-infodetails {
  &-container {
    display: flex;
    flex-wrap: wrap;
  }
  .client-details .cp-Persona-image {
    background-color: $persona-green;
  }
}

/*

   PAGE:  DASHBOARD

*/

.Dashboard-PageContainer {
  section {
    margin-bottom: 2rem;
  }
  article {
    display: flex;
  }
}
.dashboard-greeting-container {
  color: $primary-color;
}

// Animated Tiles on Dashboard
.dashboard .user-actions-section .cp-Tile {
  width: 14rem;
  height: 14rem;
  transition: box-shadow 300ms ease, transform 150ms ease;
  cursor: pointer;
  &:hover {
    transform: translate(0, -0.125rem);
    // box-shadow: $tile-shadow--hover;
    box-shadow: $elevation-16dp;
    .cp-Tile-content {
      background-color: $gray-30;//$primary-color;
      color: $black;
    }
  }
  .cp-Tile-content {
    background-color: $gray-20;
    color: $gray-70;
  }

  &:active {
    .cp-Tile-content {
      background-color: $gray-40;
      color: $primary-color;
    }
  }

  .TileIcon {
    height: 3rem;
    width: 3rem;
    fill: currentColor;
  }
  .TileLabel {
    margin: 1rem 0;
    font-size: 1rem;
  }
}

