
@import "variables.scss"; 

$persona-size-1: 1rem;
$persona-size-2: 2rem;
$persona-size-3: 3rem;
$persona-size-4: 4rem;


.cp-Persona-image {
  .Icon {
    fill: $white;
    width: 1rem;
    height: 1rem;
  }
  flex-grow: 0;
  flex-shrink: 0;
}

.PersonaContainer {
  .small {
    width: $persona-size-2;
    height: $persona-size-2;
    margin-right: 0.75rem;
    flex-basis: $persona-size-2;
  }
  .medium {
    width: $persona-size-3;
    height: $persona-size-3;
    margin-right: 1rem;
    flex-basis: $persona-size-3;
  }
  .large {
    width: $persona-size-4;
    height: $persona-size-4;
    margin-right: 1.25rem;
    flex-basis: $persona-size-4;
  }
}
