@import "../../../variables.scss";



.cp-Table-pagination {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.5rem;
  background-color: $white;
  z-index: 100;
}
.cp-Table-pagination p {
  white-space: nowrap;
}
.Pagination {
  //margin: 0 1.75rem;
  border-top: 1px solid $neutral-color-darker;
  display: flex;
  align-items: center;
  height: 100%;
}
.Pagination-pageManagement {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.Pagination-pageManagement p {
  margin: 0 0.5rem;
}
.details-open .Pagination {
  margin-right: 0;
}
.Count {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: auto;
  flex: 0 1 0;
  p {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
}

.details-open .Count {
  margin-right: 1rem;
}





// Overridden MASK -> Ignore
.Pagination p {
  background: transparent;
  opacity: 1;
}
