@import "variables.scss";



.TaskPane-container {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 20rem;
  box-shadow: $elevation-64dp;
  // box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22), 0 4.8px 14.4px 0 rgba(0,0,0,.18);
  background-color: $white;
  z-index: 5000;
}


.cp-TaskPane {
  display: flex;
  flex-direction: column;
  transform: translateX(20rem);
  transition: 150ms;
  width: 100%;
  
  height: calc(100vh - 3rem);
  
  &.open {
    transform: translateX(0);
  }
}

.cp-TaskPane-topbar {
  height: 3.5rem;
  padding: 0 0.5rem 0 1rem;
}

.cp-TaskPane-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 1;
}


.cp-TaskPane-footer {
  padding: 0.5rem 1rem;
  display: flex;
  width: 100%;
  span { 
    font-size: 0.75rem;
    text-align: center;
    color: $secondary-color;
    width: 100%;
  }
}