@import "../../../variables.scss";



.cp-TabNavigator {
  font-family: $font-stack;
  margin-left: -0.5rem;
}


.cp-Tab-link {
  color: $text-color;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  text-align: center;
  position: relative;
  vertical-align: top;
}

.cp-Tab-link:hover:before {
  background-color: $neutral-color-darker-alt;
}

.cp-Tab-link:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0.5rem;
  position: absolute;
  right: 0.5rem;
  transition: background-color 300ms ease;
}

.cp-Tab-link.is-selected {
  font-weight: 600;
  position: relative;
}
.cp-Tab-link.is-selected:before {
  background-color: $primary-color;
}
