@import "../../../variables.scss";

.cp-InfoDetails {
  font-weight: 400;
  min-height: 2.5rem;
  min-width: 12rem;
  white-space: nowrap;
  margin: 0 3rem 2rem 0;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  .PersonaContainer {
    margin-bottom: 0.5rem;
  }
}
.cp-InfoDetails-header {
  min-width: 100%;
}
.cp-InfoDetails-item {
  padding: 0.5rem 0;
}
.cp-InfoDetails-itemTitle {
  font-size: 0.75rem;
  color: $secondary-color;
  line-height: 1rem;
}
.cp-InfoDetails-infoData {
  margin: 0 0 0.5rem 0;
  line-height: 1.25rem;
}

.cp-InfoDetails-itemDesc {
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

.cp-InfoDetails-itemLink {
  position: relative;
  text-align: left;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  margin-left: -0.5rem;
  cursor: pointer;
}

.cp-InfoDetails-itemLink:hover {
  background-color: $neutral-color;
}
// .cp-InfoDetails-itemLink:active {
//   background-color: $neutral-color-darker;
// }

.cp-InfoDetails-itemLink .cp-InfoDetails-itemDesc {
  color: $primary-color;
}
.cp-InfoDetails-itemLink:hover .cp-InfoDetails-itemDesc {
  color: $primary-color-darker;
}
.cp-InfoDetails-itemLink:hover .command--hide {
  display: block;
}
.cp-InfoDetails-itemAction {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.cp-InfoDetails-itemAction .action-Button {
  height: 100%;
}


// CONSIDER THIS....
// white-space: nowrap;
// text-overflow: clip;
// overflow: hidden;