@import "variables.scss";

$rest-state-color: $gray-70;

.Toggle {
  font-size: 0.875rem;
  margin: 0.5rem 0;
}


// .Toggle-label {
//   font-weight: 600;
//   padding: 0.25rem 0;
// }


.Toggle-container {
  display: flex;
  align-items: center;

  .Label {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
  }
}



.Toggle-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 0.625rem;
  outline: none;
  background-color: $white;
  border: 0.0625rem solid $rest-state-color;
  padding: 0 0.25rem;
  cursor: pointer;
  &:hover {
    border-color: $gray-80;
    .Toggle-thumb {
      background-color: $gray-80;
    }

  }
}
.Toggle-thumb {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: $rest-state-color;
  transition: 300ms;
}


.is-checked {
  .Toggle-background {
    background-color: $primary-color;
    border: transparent;
    justify-content: flex-end;
    &:hover {
      background-color: $primary-color-darker;
      .Toggle-thumb {
        background-color: $white;
      }
    }
  }
  .Toggle-thumb {
    background-color: $white;
  }
}