@import "../../../variables.scss";

// SVG DATA URLs (CSS-TRICKS)
// https://css-tricks.com/lodge/svg/09-svg-data-uris/



.Dropdown {
  outline: 0;
  position: relative;
  min-width: 3rem;
}

.Dropdown .Select {
  display: block;
	padding: 0 0.5rem;
	width: 100%;
	max-width: 100%;
  margin: 0;
  height: 2rem;
	-moz-appearance: none;
	-webkit-appearance: none;
  appearance: none;
  background-image:
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
  <polygon fill="black" points="10.793 8 3.646 15.146 4.354 15.854 12.207 8 4.354 .146 3.646 .854" transform="rotate(90 7.927 8)"/>
  </svg>');
  background-position:
    calc(100% - 0.75rem) 50%,
    100% 0;
  background-size: 0.75rem;
  background-repeat: no-repeat;
}

.Dropdown .Select::-ms-expand {
	display: none;
}





// Ignore for now!

// .Dropdown .Icon {
//   display: flex;
//   align-items: center;
//   position: absolute;
//   height: 2rem;
//   right: 0.5rem;
//   top: 2rem;
//   vertical-align: middle;
// }

// .Dropdown .Icon svg {
//   width: 0.75rem;
// }