@import "../variables.scss";




// Contact Page

.general-contact-container,
.dedicated-contact-container {
  padding: 1rem;
  background-color: $white;
}


// so-called Settings Page -> NAME TO-DO!

[class*="contentStaticPage"] {
  background-color: $gray-20;
  .cp-BasePage-content {
    padding-bottom: 2rem;
  }
  section {
    display: flex;
    flex-direction: column;
  }
}
.cp-Page .Page-content {
  padding-bottom: 2rem;
}


.flex-b2r {
  margin-right: auto;
}




.header-container {
  margin: 2rem 0;
}

.cp-Page section {
  flex: 1 1 10rem;
}