@import "variables.scss";
// .cp-Card {
//   box-shadow: $surface-shadow;
// }

.cp-Card {
  background-color: $white;
  padding: 1rem;

}

@media (max-width: $layout-xs) {
  .cp-Card {
    padding: 0.75rem;
  }
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  .cp-Card {
    margin: 0 1.5rem 1rem 0;
  }
}