@import "../variables.scss";

.cp-Modal {
  position: relative; 
  width: 40rem;
  align-items: center;
}
.cp-Modal-body {
  margin: 1rem 1.5rem;
}
.cp-Modal .commandBar {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  height: 3rem;
}
.cp-Modal-title {
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 1.5rem;
}
.cp-Modal-title h2 {
  font-size: inherit;
  font-weight: inherit;
}





.cp-Modal .selectCases-section,
.cp-Modal .browseFiles-section,
.cp-Modal .selectedFiles-section {
  margin-bottom: 1rem;
  display: flex;
}



.browseFiles-section {
  align-items: center;
  background-color: $message-neutral;
}
.browseSection-MessageBar {
  display: flex;
  flex-wrap: nowrap;
}


.cp-Modal .caseDropdown {
  flex: 1 0 0;
  margin: 0 auto 0 0;

}
.cp-Modal .browseSection-MessageBar {
  font-size: 0.875rem;
  padding: 1rem;
  font-weight: 400;
}
.browseSection-MessageBar .iconContainer {
  margin: 0 0.5rem 0 0;
}
.browseSection-MessageBar p {
  font-size: 0.75rem;
  font-weight: 400;
}

.cp-Modal .browseButton {
  margin: 0 1rem 0 auto;
  padding: 0;
  flex: 0 1 0;
}





#uploaded-files-section {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.cp-Modal .cp-Button-group {
  margin: 2rem 0 0 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex: 1 1 0;
}

.cp-FileTile {
  display: flex;
  //flex-direction: row;
  //flex-wrap: nowrap;
  background-color: $neutral-color;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
}
.selectedFile-FileLabel {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 1rem;
}

.selectedFile-FileLabel-name {
  margin-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 4rem);
}










