<div class="cp-Layer">
  <div class="cp-Overlay"></div>
  <div class="cp-Modal UploadFile">
    <div class="commandBar">
      <div class="cp-Modal-title">
        <h2>Upload file</h2>
      </div>
      <div class="closeButton">
        {# <ActionButton element> "X" (close) temp: action button icon #}
        {# <button class="action-Button --closeButton--<-- TO DELETE this class" *ngIf="popupServerView?.parameters?.showCloseIcon"
              (click)="closeButtonClick()">
              <svg-icon src="assets/close.svg"></svg-icon>
            </button> 
         #}
      </div>
    </div>
    <div class="cp-Modal-body">

        <div class="selectCases-section">
        
          <div class="caseDropdown">
            {# <Dropdown Component> #}
          </div>

        </div>

        <div class="browseFiles-section">
          <div class="browseSection-MessageBar">
            <div class="iconContainer">
            {# <SVG Icon Component> "info icon" #}
            </div>

            <div class="messageContainer">
              <p>Selected file will be sent to Case Manager.<p>
              <p>You can upload 1 file only.<p>
            </div>

          </div>
          
          <div class="browseButton">
          {# <Button element> "Choose file" temp: button primary #}
          </div>

        </div>

        <div  class="selectedFiles-section">
           {# <Selected File Element>  #}
        </div>

        <div class="cp-Button-group">
        {# <Button element> "Cancel" temp: button default #}
        {# <Button element> "Upload" temp: button primary hero (with icon) #}
        </div>
    </div>
  </div>
</div>