.user-panel {
  right: -25rem;
  width: 20rem;
  transition: right 300ms;
}
.user-panel.open {
  right: 0;
}

.user-details,
.control-links {
  padding: 0.5rem 1rem;
}

.user-details {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.user-icon {
  margin-right: 1rem;
}
.user-data {
  display: flex;
  flex-direction: column;
}

.user-data-name,
.user-data-email {
  font-size: 0.875rem;
  margin: 0.25rem 0;
  line-height: 1.25rem;
}

.user-data-name {
  font-weight: 600;
}
.control-links {
  display: flex;
  flex-direction: column;
}

.control-links > .cp-Link-primary {
  margin: 0.25rem 0;
}
