<div class="cp-TaskPane user-panel" role="region">

  <div class="cp-TaskPane-topbar flex-101">
    <h2 class="heading-light">Profile<h2>
    <button class="action-Button close-pane">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path d="M7.4246212,8.13172798 L2.12132034,2.82842712 L2.82842712,2.12132034 L8.13172798,7.4246212 L13.4350288,2.12132034 L14.1421356,2.82842712 L8.83883476,8.13172798 L14.1421356,13.4350288 L13.4350288,14.1421356 L8.13172798,8.83883476 L2.82842712,14.1421356 L2.12132034,13.4350288 L7.4246212,8.13172798 Z" />
      </svg>
    </button>
  </div>

  <div class="user-details">
     <div class="cp-Persona user-icon">
      <div class="Icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path d="M10.284884,8.37759104 C13.3136161,9.40895788 15.5,12.4360519 15.5,16 L14.5,16 C14.5,12.1262278 11.5821874,9 8,9 C4.41781265,9 1.5,12.1262278 1.5,16 L0.5,16 C0.5,12.4360519 2.68638395,9.40895788 5.71511596,8.37759104 C4.38932372,7.59467683 3.5,6.15119476 3.5,4.5 C3.5,2.01471863 5.51471863,0 8,0 C10.4852814,0 12.5,2.01471863 12.5,4.5 C12.5,6.15119476 11.6106763,7.59467683 10.284884,8.37759104 Z M8,8 C9.93299662,8 11.5,6.43299662 11.5,4.5 C11.5,2.56700338 9.93299662,1 8,1 C6.06700338,1 4.5,2.56700338 4.5,4.5 C4.5,6.43299662 6.06700338,8 8,8 Z"/>
        </svg>
      </div>
     </div>
     <div class="user-data">
      <div class="user-data-name" title="Astrid Nielsen">Astrid Nielsen</div>
      <div class="user-data-email" title="astrid.nielsen@gmail.com">astrid.nielsen@gmail.com</div>
     </div>
  </div>

  <div class="control-links">
    <a class="cp-Link-primary">Personal data</a>
    <a class="cp-Link-primary">My uploaded files</a>
    <a class="cp-Link-primary">Log out</a>
  </div>

</div>