footer {
  background-color: #fbfdfd;
  color: #2e668b;
  padding: 1rem 0;
  font-size: 0.625rem;
}
.footer-content {
  margin: 0 auto;
  max-width: calc(1024px + 10%);
  padding: 2rem 5% 1rem 5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer-content-left {
  margin-right: 3rem;
}
