@import "../../../variables.scss";

.Breadcrumb {
  margin: 1rem 0;
  -webkit-font-smoothing: antialiased;
}
.Breadcrumb-list {
  display: flex;
  flex-wrap: nowrap;
}


.Breadcrumb-listItem {

  display: flex;
  flex-wrap: nowrap;
  align-content: center;

}
.Breadcrumb-link,
.Breadcrumb-title {
  //-webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  display: inline-block;
  padding: 0 0.25rem;  
}
.Breadcrumb-link {
  font-weight: 300;
}
.Breadcrumb-title {
  font-weight: 600;
}
.Breadcrumb-chevron {
  width: 0.75rem;
  margin: 0.125rem 0.5rem;
}