@import "variables.scss";

.cp-Account-ListBox {
  position: absolute;
  top: 6rem;
  left: 3rem;
  box-shadow: $surface-shadow;
}

.cp-Account-ListBox-header {
  padding: 0 1rem;
  width: calc(100% - 3rem);
  overflow: hidden;
}
.cp-Account-ListBox  .cp-AccountItem {
  height: 8rem;
}