@import "variables.scss";

.EmptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
  color: $message-neutral-color;
  &.alert-primary {
    color: $primary-color;
  }
  &.alert-warning {
    color: $message-warning-color;
  }
}
.EmptyState-image {
  width: 8rem;
  margin: 0 0 2.5rem;
}
.EmptyState-title {
  font-size: 1.25rem;
  text-align: center; 
  margin-bottom: 1.25rem;
  color: inherit;
}

.EmptyState-subtext {
  font-size: 0.875rem;
  color: $secondary-color;
  text-align: center;
}