@import "variables.scss";

.MessageBar {
  display: flex;
  height: 3rem;
  padding: 1rem;
  font-size: 14px;
  font-weight: 400;
  background-color: $message-neutral;
  
  .Icon {
    width: 1rem;
    height: 1rem;
  }
}


.MessageBar-label {
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}