@import 'variables.scss';



.Button, .Label {
    -webkit-font-smoothing: antialiased;
    font-family: $font-stack;
    font-weight: 600;
    font-size: 0.875rem;
}
.Icon {
    width: 1rem;
    height: 1rem;
    // svg {
    //     vertical-align: top;
    // }
}

/*
 *
 *   BUTTONS
 *
*/


.action-Button, .menu-Button, .Button {
    transition: background-color 250ms ease;
}

.action-Button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    min-height: 2.5rem;
    line-height: 100%;
    cursor: pointer;
    background-color: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    color: $text-color;
    padding: 0 0.5rem;

    outline: 0;
}

.action-Button {
    color: $text-color;
    .Icon {
        fill: $text-color;
        margin: 0 0.25rem;
    }
}
.action-Button.action-Button--primary {
    .Icon {
        fill: $primary-color;
    }
}


.action-Button-label {
    margin: 0 0.25rem;
    white-space: nowrap;
}

.action-Button:hover {
    background-color: $neutral-color-darker;
}
.action-Button:active {
    background-color: $neutral-color-darker-alt;
}

// TODO

.Button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    border: 4px solid transparent;
    cursor: pointer;
    //display: inline-block;
    min-height: 2rem;
    min-width: 5rem;
    padding: 0 1rem;
    line-height: 100%;
    border-radius: 2px;
    outline: 1px solid transparent;
    outline-offset: -3px;
}
.Button:disabled {
    color: $disabled-color-dark;
    fill: $disabled-color-dark;
    background-color: $disabled-color;
}

.Button--primary {
    color: $white;
    fill: $white;
    background-color: $primary-color;
}
.Button--primary:hover {
    background-color: $primary-color-darker;
}
.Button--primary:focus {
    outline: 1px solid $white;    
}
.Button .Icon {
    margin-right: 0.5rem
}


.Button--default {
    color: $text-color;
    fill: $text-color;
    background-color: transparent;
    border: 1px solid $secondary-color;
}
.Button--default:hover {
    background-color: $secondary-color-lighter-alt;
}
.Button--default:active {
    background-color: $secondary-color-lighter;
}
.Button--default:focus {
    outline: 1px solid $secondary-color-darker;    
}

.Button-label {
    white-space: nowrap;
}

.Button.is-hidden {
    display: none;
}
.Button.is-disabled,
.Button:disabled {
    background-color: $disabled-color;
    border-color: $disabled-color;
    color: $disabled-color-dark;
    fill: $disabled-color-dark;
    cursor: default
}

.Button.is-disabled:focus,
.Button.is-disabled:hover,
.Button:disabled:focus,
.Button:disabled:hover {
    outline: 0
}


.menu-Button {
    margin: 0;
    position: relative;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: inherit;
    //border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    align-items: center;
    line-height: 100%;
    padding: 1rem;
}
.menu-Button:hover {
    background-color: $neutral-color-darker;
    border-color: $neutral-color-darker;
}

.menu-Button.is-active {
    font-weight: 700;
    background-color: $white;
}

.menu-Button:active,
.menu-Button.is-active:active {
    background-color: $neutral-color-darker-alt;
}

.menu-Button.is-active::before {
    content: "";
    width: 0.25rem;
    height: 100%;
    background-color: $primary-color;
    position: absolute;
    left: 0;
    top: 0;
}
.menu-Button.is-disabled,
.menu-Button:disabled {
    background-color: $neutral-color-darker;
    border-color: $neutral-color-darker;
    cursor: default
}
.menu-Button--label {
    //margin: 0 0.875rem;
    margin: 0 1rem;
}


//TODO :focus
.menu-item .menu-Button:focus {
    border-color: $primary-color; 
}


/*
 *  HEADER -- Action Buttons
*/


.header-Button {
    width: 3rem;
    height: 3rem;
    padding: 0 0.875rem;
    background: none; // background-color: $Primary
    position: relative;
    transition: 150ms;
    outline: 0;
    cursor: pointer;
}


// TO-DO
.header-Button:hover {
    background-color: rgba(0 , 0, 0, 0.2);
}
.header-Button:active {
    background-color: rgba(255, 255, 255, 0.2);
}
.header-Button.is-active {
    background-color: $white;
}


.header-Button--icon {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.header-Button--icon .Icon {
    height: 1.25rem;
    width: 1.25rem;
    margin: auto;
}
.header-Button--icon svg {
    fill: $white;
    width: 100%;
    height: 100%;
}
.header-Button .userPersonaButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: $text-color;
    border-radius: 50%;
    margin: 0.5rem;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
    top: 0;
    left: 0;
}
.header-Button .userPersonaButton .Icon {
    fill: $white;
    width: 1rem;
    height: 1rem;
}

/*
 *
 *   HYPERLINKS: Primary
 *
*/

.cp-Link-primary {
    font-weight: 400;
    color: $primary-color;
    line-height: 1.25rem;
    cursor: pointer;
  }
  .cp-Link-primary:hover {
    text-decoration: underline;
  }


/*
 *
 *   INPUTS: Dropdown, Label, TextArea
 *
*/
.Label {
    box-shadow: none;
    color: $text-color;
    font-size: 0.875rem;
    display: block;
    padding: 0.25rem 0;
    margin-bottom: 0.125rem;
}
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_custom_select
.Dropdown .Select {
    border: 1px solid $secondary-color;
    font-family: $font-stack;
    font-size: 0.875rem;
    outline: 0;
    border-radius: 2px;
    background-color: $white;
    cursor: pointer;
}
.Dropdown .Select:hover {
	border-color: $secondary-color-darker;
}
.Dropdown .Select:active,
.Dropdown .Select:focus {
    border-color: $primary-color;
}
.Dropdown .Select option {
	font-weight:normal;
}

.Dropdown .Select:disabled {
    border-color: transparent;
    color: $disabled-color-dark;
    fill: $disabled-color-dark;
    background-color: $disabled-color;
}

.TextField, .TextArea {
    border: 1px solid $secondary-color;
    font-family: $font-stack;
    font-size: 0.875rem;
    font-weight: 400;
    outline: 0;
    border-radius: 2px;
    background-color: $white;
    width: 100%;
    overflow: auto;
    resize: none;
    cursor: text;

    &:hover {
        border-color: $secondary-color-darker;
    }
    &:active,
    &:focus {
        border-color: $primary-color;
    }
    &:disabled {
        border-color: transparent;
        color: $disabled-color-dark;
        background-color: $disabled-color;
        cursor: default;
    }
}
.TextArea {
    padding: 0.375rem 0.5rem;
}


/*
 *
 *   TABLE GRID & DETAILS LIST  *edit
 *
*/

.Table, .DetailsList, .Grid {
    font-family: $font-stack;
    color: $text-color;
}
.Table thead th {
    color: $secondary-color;
    height: 2.5rem;
    border-bottom: 1px solid $neutral-color-darker;
}

.DetailsList-row {
    display: table-row;
    line-height: 100%;
    height: 2.75rem;
    font-weight: 300;
    border-bottom: 1px solid $neutral-color-darker;
}
.DetailsList-row:hover {
    background-color: $neutral-color;
}
.DetailsList-row.is-selected {
    background-color: $neutral-color-darker;
}



/*
 *  TABLE
 *  Details List > Row > .SelectION CHECK
*/

.DetailsList--selectionCheck {
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    padding: 1px;
    fill: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
}

// Unseclected ROW hover
.DetailsList-row:hover .DetailsList--selectionCheck {
    border-color: $secondary-color-lighter;
    background-color: $white; 
}
.DetailsList-row:hover .DetailsList--selectionCheck:hover {
    fill: $secondary-color;
    border-color: $secondary-color;
    background-color: $white; 
}
// Seclected ROW hover
.DetailsList-row.is-selected .DetailsList--selectionCheck,
.DetailsList-row.is-selected .DetailsList--selectionCheck:hover {
    fill: $white;
    background-color: $primary-color;
    border-color: $white;
}


/*
 *  TABLE
 *  Details List > Row > ITEM NAME
*/

// TODO
// Hover on item NAME

.DetailsList-row.is-selected td:nth-child(2) {
    font-weight: 600;

}
// TO-DO
// Start: Overflowing text in cells
.DetailsList-row td:nth-child(2) span:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.DetailsList-row.is-selected td:nth-child(2) span {
    font-weight: 600;
}
td:nth-child(2) {
    font-size: 0.875rem;
    white-space: nowrap;
    max-width: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
// End: Overflowing text in cells














/*
 *
 *   LAYERS: LAYER, OVERLAY, MODAL, TASK PANE
 *
*/


.cp-Layer {
    position: absolute;
    z-index: 8000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
  
.cp-Overlay {
    position: absolute;   
    background-color: $black-50;
    backdrop-filter:  blur(20px);
    width: 100%;
    height: 100%;
}

.cp-Modal {
    background: $white;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    z-index: inherit;
}

.cp-Modal .commandBar {
    background-color: $white;
}
.cp-Modal .commandBar .closeButton {
    fill: $primary-color;
    margin: 0.5rem;
}
.cp-Modal .commandBar .closeButton:active {
    fill: $primary-color-darker;
}




.cp-Modal .flex-01 {
    margin: 1.25rem 2rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
// .cp-Modal .caseDropdown {
//     flex: 1 0 0;
//     margin: 0 auto 0 0;
// }

// .cp-Modal .browseButton {
//     margin: 0 0 0 auto;
//     padding: 0.5rem 0 0 0.5rem;
//     flex: 0 1 0;
//     align-self: flex-end;
// }



.cp-Modal .cp-Button-group button {
    margin: 0 0 0 0.5rem;
    min-width: 10rem;
}

// DELETE WHEN OVER or COMMENT
/*
.cp-Modal Button {
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/






/*
 *
 *   TILE
 *
*/

.cp-Tile {
    //box-shadow: $tile-shadow;
    box-shadow: $elevation-4dp;
    width: 9rem;
    height: 9rem;
    //cursor: pointer;
  
    .cp-Tile-header .Icon {
      fill: $primary-color;
      height: 1rem;
    }
  
    .cp-Tile-content {
      transition: background-color 300ms ease;
    }
  }
  
  .tiles-container {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tile-collection-link {
      margin: 0 1.5rem 1.5rem 0;
    }
  }
  
  
  
  
  .cp-Tile-header {
    display: flex;
    align-items: center;
    padding: 1rem; 
    height: 3rem; 
  }
  
  .cp-Tile-title {
    //margin: 0 0 0 0.5rem;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
  }
  
  .cp-Tile-content {
    display: flex;
  }
  
  /*
   *
   *   CARD
   *
  */
  
  
  
  /*
   *
   *   INFO PANE
   *
  */





[class*="cp-Persona"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: $text-color;
    border-radius: 50%;
    fill: $white;
    //overflow: hidden;
    z-index: 0;
    top: 0;
    left: 0;
    .Icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    &.small {
        width: 2rem;
        height: 2rem;
        .Icon {
            width: 1rem;
            height: 1rem;
        }
    }
}



.DownloadPanel {
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 0 0.5rem;
    color: $text-color;
    z-index: 10000;
    .DownloadPanel-item {
        overflow-y: hidden;
        display: flex;
        margin-bottom: 0.5rem;
        background-color: $neutral-color-darker-alt;
        animation-name: download-file-item;
        animation-duration: 500ms;
        //animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
    }
    .DownloadPanel-itemContainer {
        display: flex;
        margin: 0.5rem;
    }
    .DownloadPanel-itemLabel {
        //height: 1rem;
        font-size: 0.75rem;
        margin: 0 0.5rem;
        span {
            font-size: inherit;
            font-weight: 400;
        }
    }
}

@keyframes download-file-item {
    0% {
      height: 0
    }
  
    100% {
      height: 2rem;
    }
  }




  .cp-Summary {
    display: flex;
    flex-wrap: wrap;
    //flex-direction: row; // consider @media and change to "column"
    //align-content: stretch;
    flex-flow: row wrap;
    margin: 0 -2rem 1rem;
    padding: 1rem;
    max-width: 40rem;
  }


  .cp-SummaryItem {
    margin: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.25);
    flex: 1 1 10rem;
    &.due .cp-SummaryItem-content {
        background: $neutral-color;
    }
    &.overdue .cp-SummaryItem-content {
        background: $message-error;
    }
    .cp-SummaryItem-title {
        font-size: 0.875rem;
        h3 {
            font-size: 0.75rem;
            font-weight: 600;
            margin: 0;
        }
        display: flex;
        height: 3rem;
        padding: 1rem;
        white-space: nowrap;
    }
    .cp-SummaryItem-content {
        height: calc(100% - 3rem);

    }
    .overdue-warning {
        display: inline-flex;
        justify-content: flex-end;
        flex: 1 1 0;
        margin-left: auto;
        color: $message-error-color;
        .Icon {
            margin: 0 0.5rem;
            fill: currentColor;
        }
    }
    .SummaryRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3rem;
        margin: 0 1rem;
        border-bottom: 1px solid $black-25;
        white-space: nowrap;
        .Icon {
            margin: 0 0.5rem;
        }
        .invoices {
            margin: 0 1.5rem;

        }
        .ballance {
            display: inline-flex;
            justify-content: flex-end;
            flex: 1 1 0;
            margin-left: auto;
            span {
                margin-left: 0.25rem;
            }
        }
    }
    .SummaryRow:last-of-type {
        border: none;
    }
}
.Coin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    fill: $white;
    overflow: hidden;
    z-index: 0;
    border: 1px $black-50 solid;
    .Coin-label {
        font-size: 0.5rem;
        color: $text-color;
        font-weight: 400;
    }
}