@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@import "variables.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


h2, h4 {
  -webkit-font-smoothing: antialiased;
  margin: 1rem 0;
}


h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
h4 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.heading-light {
  
  font-weight: 300;
}
.heading-semibold {
  
  font-weight: 600;
}
.heading {
  font-weight: 400;
}
h4, h2 {
  &.heading {
    margin: 0;
  }
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  font-family: $font-stack;
}

#root {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: $font-stack;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0;
  color: $text-color;
  overflow: hidden;
}
span, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  vertical-align: baseline;
}

.flex-100 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.flex-101 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.flex-102 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.flex-103 {
  display: flex;
  flex-direction: column;
}
.flex-104 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.placeholder {
  padding: 1rem;
  margin: 0.25rem 0;
  background-color: $neutral-color;
  text-align: center;
  min-width: 320px;
}



.body-container {
  display: flex;
  height: calc(100vh - 48px);
  flex-wrap: nowrap;
}



.menu-sidebar {
  background-color: $neutral-color;
  border-right: 1px $neutral-color-darker-alt solid;
}


.content-container {
  overflow: hidden;
  // Angular 8
  // @Param: flex-grow: 1; 
  flex: 1 1 0;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.commandBar {
  display: flex;
  flex-wrap: nowrap;
  height: 2.5rem;
  width: 100%;
  padding: 0 1rem;
  background-color: $neutral-color;
  align-items: center;
}
.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  // overflow-y: auto;
  overflow: auto;
  flex-grow: 1;
  // padding: 0 1.75rem;
}

[data-list-page="true"] {
  .content-wrapper.details-open {
    margin-right: 20rem;
  }
}


.cp-MainContent {
  // overflow: auto;
  // overflow: hidden;
  flex-grow: 1;
  min-width: 17rem;
}

.PageLayout {
  margin: 0 1.75rem;
}

// @media (max-width: $layout-xs) {
//   .PageLayout {
//     margin: 0 1rem;
//   }
// }

.cp-BasePage-header {
  display: flex;
  position: sticky;
  background: $white;
  z-index: 10;
  height: 3.5rem;
  top: 0;
  padding: 0 1.75rem 3.5rem; 
  //paddingBottom: 0.5rem;
}

.cp-BasePage-content, .Page-content {
  display: flex;
  flex-direction: column;
}

.details-open .cp-BasePage-content {
    margin-right: 0;
}

// .cp-BasePage-wrapper {
//   margin: 0 1.75rem 3.5rem; 
// }
// .details-open .cp-BasePage-wrapper {
//   margin-right: 0;
// }


.cp-BasePage-header .Breadcrumb {
  margin-left: -0.25rem;
}




.cp-BasePage-detailsView {
  position: fixed;
  top: 5.5rem;
  right: 0;
  height: calc(100vh - 5.5rem);
  background-color: $white;
  box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22), 0 4.8px 14.4px 0 rgba(0,0,0,.18);
  width: 20rem;
}

.cp-Page {
  background-color: $gray-20;
}


.cp-View-CaseDetails {
  display: flex;
  flex-wrap: wrap;
}
.cp-Pagetabs {
  position: sticky;
  top: 3.5rem;
  background-color: $white;
  border-bottom: 1px solid $neutral-color;
  z-index: 10;
}
.cp-PageContent {
  margin-top: 2rem;
}

#search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 0.5rem;
  width: 10rem;
  border-left: 1px solid $neutral-color-darker-alt;

}
#search .icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 1.5rem;
  text-align: center;
  fill: $primary-color;
  cursor: text;
  transition: width 150ms ease 0s;
  overflow: hidden;
}
#search .icon {
  height: 1rem;
}
#search input {
  font-size: 0.875rem;
  font-family: $font-stack;
  font-weight: 300;
  height: 2.5rem;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0 0 2px;
  color: $text-color;
  min-width: 0px;
  text-overflow: ellipsis;
  outline: none;
  flex: 1 1 0;
  overflow: hidden;
}

#search.is-active {
   padding-left: 0.5rem;
 }
 #search.is-active .icon-container {
  width: 0;
}

.command--hide {
  display: none;
}



// /* width */
// ::-webkit-scrollbar {
//   width: 0.75rem;
//   height: 0.75rem;
// }
// /* Track */
// ::-webkit-scrollbar-track {
//   background: $neutral-color;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $secondary-color;
//   border-radius: 0.75rem;
//   border: 3px solid $neutral-color-lighter;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $secondary-color-darker;
// }



  



// Vectors

// .vector-animated {
//   &.round {
//     animation-name: spinning;
//     animation-duration: 2000ms;
//     animation-iteration-count: infinite;
//     animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
//     transform-origin: 50% 50%;
//     //transform: scale(0.8);
//   }
// }


// @keyframes spinning {
//   0% {
//     transform: scale(0.8) rotate(0deg);
//   }

//   100% {
//     transform: scale(0.8) rotate(360deg);
//   }
// }




