// BREAK POINTS
// xs, extra-small: 0px
// sm, small: 600px
// md, medium: 960px
// lg, large: 1280px
// xl, extra-large: 1920px

$layout-0:  320px;
$layout-xs: 480px;
$layout-sm: 768px;
$layout-md: 1024px;
$layout-lg: 1280px;
$layout-xl: 1920px;



$font-stack:    'Open Sans', sans-serif;

$white: #ffffff;

$gray-10: #f8f8f8;
$gray-20: #f4f4f4;
$gray-30: #eaeaea;
$gray-40: #dadada;
$gray-50: #c8c8c8;
$gray-60: #a6a6a6;
$gray-70: #696969;
$gray-80: #333333;
$gray-90: #212121;

$black: #000000;

$sea-foam: #2e668b;
$purple: #663399; //rebeccapurple;
$teal: teal;
$navy: #1c6ba4;



$primary-color: $purple;
$primary-color-darker: darken($primary-color, 20%);
$primary-color-lighter: lighten($primary-color, 20%);
// $primary-color-darker: /* defined var */
// $primary-color-lighter: /* defined var */



$secondary-color: $gray-70;
$secondary-color-darker: $gray-80;
$secondary-color-darker-alt: $black;
$secondary-color-lighter: #ccc;
$secondary-color-lighter-alt: #e1e1e1;

$disabled-color: #f5f5f5;
$disabled-color-dark: #c8c8c8;

$text-color: $gray-80;



// MessageBars
// backgrounds
$message-neutral: #f5f3f3;
$message-error: #fde7e9;
$message-warning: #fff4ce;

// color
$message-error-color: #a80000;
$message-neutral-color: #333333;

$message-noclient-background: #ffdd00;


$message-warning-color: #a80000;
$message-neutral-color: #333333;

$neutral-color: $gray-20;
$neutral-color-darker: $gray-40;
$neutral-color-darker-alt: $gray-50;

$neutral-color-lighter: $gray-10;
$neutral-color-lighter-alt: $white;

$persona-green: #005B70;



// Alphas
$white-95: rgba( 255, 255, 255, 0.95 );
$white-90: rgba( 255, 255, 255, 0.9  );
$white-85: rgba( 255, 255, 255, 0.85 );
$white-80: rgba( 255, 255, 255, 0.8  );
$white-75: rgba( 255, 255, 255, 0.75 );
$white-70: rgba( 255, 255, 255, 0.7  );
$white-65: rgba( 255, 255, 255, 0.65 );
$white-60: rgba( 255, 255, 255, 0.6  );
$white-55: rgba( 255, 255, 255, 0.55 );
$white-50: rgba( 255, 255, 255, 0.5  );
$white-45: rgba( 255, 255, 255, 0.45 );
$white-40: rgba( 255, 255, 255, 0.4  );
$white-35: rgba( 255, 255, 255, 0.35 );
$white-30: rgba( 255, 255, 255, 0.3  );
$white-25: rgba( 255, 255, 255, 0.25 );
$white-20: rgba( 255, 255, 255, 0.2  );
$white-15: rgba( 255, 255, 255, 0.15 );
$white-10: rgba( 255, 255, 255, 0.1  );
$white-05: rgba( 255, 255, 255, 0.05 );

$black-95: rgba( 0, 0, 0, 0.95 );
$black-90: rgba( 0, 0, 0, 0.9  );
$black-85: rgba( 0, 0, 0, 0.85 );
$black-80: rgba( 0, 0, 0, 0.8  );
$black-75: rgba( 0, 0, 0, 0.75 );
$black-70: rgba( 0, 0, 0, 0.7  );
$black-65: rgba( 0, 0, 0, 0.65 );
$black-60: rgba( 0, 0, 0, 0.6  );
$black-55: rgba( 0, 0, 0, 0.55 );
$black-50: rgba( 0, 0, 0, 0.5  );
$black-45: rgba( 0, 0, 0, 0.45 );
$black-40: rgba( 0, 0, 0, 0.4  );
$black-35: rgba( 0, 0, 0, 0.35 );
$black-30: rgba( 0, 0, 0, 0.3  );
$black-25: rgba( 0, 0, 0, 0.25 );
$black-20: rgba( 0, 0, 0, 0.2  );
$black-15: rgba( 0, 0, 0, 0.15 );
$black-10: rgba( 0, 0, 0, 0.1  );
$black-05: rgba( 0, 0, 0, 0.05  );

// Shadows

$surface-shadow: 0 1.5rem 3.5rem 0 $black-25, 0 0.25rem 1rem 0 $black-20;
$tile-shadow: 0 0.5rem 1rem 0 $black-20;
$tile-shadow--hover: 0 0.5rem 1rem 0.125rem $black-30;


$elevation-4dp:  0  0.125rem  0.25rem  0  $black-15, 0  0          0.0625rem  0  $black-10;
$elevation-8dp:  0  0.25rem    0.5rem  0  $black-15, 0  0.0625rem   0.125rem  0  $black-10;
$elevation-16dp: 0  0.5rem       1rem  0  $black-15, 0  0.125rem     0.25rem  0  $black-10;
$elevation-64dp: 0  1.5rem       4rem  0  $black-25, 0  0.25rem         1rem  0  $black-20;


$box-shadow-4-8: 4rem;



