@import "variables.scss";

.cp-AccountItem {
  display: flex;
  flex-wrap: nowrap;
  height: 3rem;
  max-width: 100%;
}
.cp-AccountItem-persona {
  width: 3rem;
  height: 3rem;
}

.cp-AccountItem-label {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.cp-AccountItem-label span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.25rem;
}