@import "variables.scss";

.cp-Modal {
  position: relative; 
  min-width: 20rem;
  width: 100%;
  max-width: 40rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 100%;;

}
.cp-Modal-body {
  padding: 1rem 1.5rem;
  width: 100%;
  //height: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

.cp-Modal-title {
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 1.5rem;

  h2 {
    font-size: inherit;
    font-weight: inherit;
  }
}

.cp-Modal .commandBar {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  height: 3.5rem;
}

.cp-Modal .cp-Button-group {
  margin: 2rem 0 0 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex: 1 1 0;
}

// Section Styles

.cp-Modal [class*="-section-content"] {
  width: 100%;
}

@media (max-width: 480px) {
  .cp-Modal {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // .cp-Modal-body {
    //   overflow-y: auto;
    //   flex-grow: 1;
    // }
    .cp-Button-group {
      flex-wrap: wrap;
      justify-content: center;
      margin: 2rem -0.5rem 0 -0.5rem;
      .Button {
        margin: 0.5rem;
        flex-grow: 1;
      }
    }
  }
}















